# GLM MATLAB example code implemented in Python (as best I know how)

In [39]:
import statsmodels.api as sm 
import pandas as pd
import datasets as ds
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [42]:
# load the data
data = pd.read_csv('./Ashar_2022_PRT_backpain/Ashar2022_outcomes_demographics.csv')
data

,id,time,group,pain_avg,bpi_intensity,bpi_interference,odi,promis_dep,promis_anger,promis_anxiety,...,exercise,handedness,sses,married_or_living_as_marri,age,weight,gender,current_opioid_use,backpain_length,is_patient
0,12,1,3.0,2.0,2.50,1.000000,12.0,20.0,13.0,24.0,...,3.0,1.0,4.0,0.0,21.000000,115.0,1.0,<undefined>,3.0,1
1,12,2,3.0,3.0,2.75,2.142857,12.0,22.0,18.0,28.0,...,3.0,1.0,4.0,0.0,21.000000,115.0,1.0,<undefined>,3.0,1
2,14,1,3.0,2.0,2.50,1.142857,26.0,8.0,5.0,9.0,...,4.0,1.0,9.0,0.0,66.000000,120.0,2.0,<undefined>,35.0,1
3,14,2,3.0,3.0,2.00,1.285714,20.0,10.0,5.0,12.0,...,4.0,1.0,9.0,0.0,66.000000,120.0,2.0,<undefined>,35.0,1
4,15,1,3.0,2.0,2.25,1.000000,10.0,10.0,9.0,8.0,...,3.0,1.0,6.0,1.0,41.000000,185.0,1.0,<undefined>,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,9051,1,NaN,0.0,0.25,0.000000,2.0,12.0,9.0,12.0,...,3.0,1.0,7.0,0.0,24.260594,170.0,2.0,<undefined>,NaN,0
337,9052,1,NaN,0.0,0.75,0.428571,0.0,10.0,5.0,9.0,...,5.0,1.0,7.0,0.0,22.103123,135.0,2.0,<undefined>,NaN,0
338,9053,1,NaN,1.0,1.00,1.571429,0.0,12.0,7.0,16.0,...,2.0,1.0,3.0,0.0,25.144938,133.0,2.0,<undefined>,NaN,0
339,9054,1,NaN,0.0,0.00,0.000000,0.0,8.0,6.0,10.0,...,3.0,2.0,5.0,0.0,24.435820,100.0,2.0,<undefined>,NaN,0
340,9055,1,NaN,0.0,0.50,0.000000,0.0,8.0,7.0,16.0,...,3.0,1.0,8.0,0.0,23.362560,165.0,2.0,<undefined>,NaN,0

In [6]:
# look at the variables (columns)
for col in data.columns:
    print(col)

id
time
group
pain_avg
bpi_intensity
bpi_interference
odi
promis_dep
promis_anger
promis_anxiety
promis_sleep
panas_pa
panas_na
pcs
tsk11
sopa_emo
pgic
tx_satisfaction
alcohol
opioid
cannabis
education
ethnicity
hispanic
employment_status
exercise
handedness
sses
married_or_living_as_marri
age
weight
gender
current_opioid_use
backpain_length
is_patient

In [7]:
# get the shape of the dataframe 
n_subjs = data['id'].nunique()
print(f"Number of subjects: {n_subjs}")

Number of subjects: 206

In [8]:
# how many patients? 1==patient, 2==control. 
print('987 patients, 54 controls.')
data['is_patient'].value_counts()

987 patients, 54 controls.

is_patient
1    287
0     54
Name: count, dtype: int64

In [10]:
# get descriptive for all variables (columns)
data.describe()

,id,time,group,pain_avg,bpi_intensity,bpi_interference,odi,promis_dep,promis_anger,promis_anxiety,...,employment_status,exercise,handedness,sses,married_or_living_as_marri,age,weight,gender,backpain_length,is_patient
count,341.000000,341.000000,286.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,339.000000,...,340.000000,339.000000,339.000000,339.000000,340.000000,340.000000,340.000000,340.000000,286.000000,341.000000
mean,1967.307918,1.395894,2.010490,2.738235,2.821324,2.198319,16.982353,12.455882,10.367647,14.474926,...,1.626471,3.253687,1.185841,6.654867,0.535294,41.425206,162.688235,1.532353,10.022552,0.841642
std,3090.258322,0.489761,0.818575,1.868622,1.737117,1.939559,12.313014,4.679819,3.771123,6.192317,...,0.793710,0.961050,0.465661,1.769749,0.499488,15.411393,33.067596,0.499688,8.835732,0.365613
min,12.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,8.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,19.608890,98.000000,1.000000,0.500000,0.000000
25%,324.000000,1.000000,1.000000,1.000000,1.250000,0.571429,8.000000,9.000000,8.000000,10.000000,...,1.000000,3.000000,1.000000,6.000000,0.000000,27.000000,135.000000,1.000000,4.000000,1.000000
50%,791.000000,1.000000,2.000000,3.000000,3.000000,1.857143,16.000000,11.000000,10.000000,12.000000,...,1.000000,3.000000,1.000000,7.000000,1.000000,39.000000,160.000000,2.000000,7.000000,1.000000
75%,1159.000000,2.000000,3.000000,4.000000,4.000000,3.285714,24.000000,15.000000,13.000000,18.000000,...,2.000000,4.000000,1.000000,8.000000,1.000000,56.000000,180.000000,2.000000,15.000000,1.000000
max,9055.000000,2.000000,3.000000,7.000000,7.250000,8.714286,64.000000,32.000000,24.000000,40.000000,...,3.000000,5.000000,3.000000,10.000000,1.000000,70.000000,255.000000,2.000000,40.000000,1.000000

In [9]:
# get descriptive statistics for the two groups (0 and 1)
data.groupby('is_patient').describe()

               id                                                             \
            count         mean         std     min      25%     50%      75%
is_patient
0            54.0  9027.907407   16.156392  9001.0  9014.25  9027.5  9041.75
1           287.0   638.832753  411.209107    12.0   224.50   672.0  1028.00

                     time            ... gender      backpain_length  \
               max  count      mean  ...    75%  max           count
is_patient                           ...
0           9055.0   54.0  1.000000  ...    2.0  2.0             0.0
1           1319.0  287.0  1.470383  ...    2.0  2.0           286.0


                 mean       std  min  25%  50%   75%   max
is_patient
0                 NaN       NaN  NaN  NaN  NaN   NaN   NaN
1           10.022552  8.835732  0.5  4.0  7.0  15.0  40.0

[2 rows x 264 columns]

In [23]:
# subset to variables of interest
backpain_stacked = data[['id', 'time', 'group', 'bpi_intensity', 'gender', 'is_patient']]
backpain_stacked

       id  time  group  bpi_intensity  gender  is_patient
0      12     1    3.0           2.50     1.0           1
1      12     2    3.0           2.75     1.0           1
2      14     1    3.0           2.50     2.0           1
3      14     2    3.0           2.00     2.0           1
4      15     1    3.0           2.25     1.0           1
..    ...   ...    ...            ...     ...         ...
336  9051     1    NaN           0.25     2.0           0
337  9052     1    NaN           0.75     2.0           0
338  9053     1    NaN           1.00     2.0           0
339  9054     1    NaN           0.00     2.0           0
340  9055     1    NaN           0.50     2.0           0

[341 rows x 6 columns]

In [25]:
# tabulate the backpain values. Columsn '1' and '2' represent time one and two
backpain_tab = backpain_stacked.pivot(index='id', columns='time', values='bpi_intensity')
backpain_tab

time     1     2
id
12    2.50  2.75
14    2.50  2.00
15    2.25  2.75
18    4.50  2.25
23    2.50  2.25
...    ...   ...
9051  0.25   NaN
9052  0.75   NaN
9053  1.00   NaN
9054  0.00   NaN
9055  0.50   NaN

[206 rows x 2 columns]

In [33]:
# merge backpain_tab with the orginial data according to id
# this automatically drops subjects who don't have both time points
backpain = pd.merge(backpain_tab, backpain_stacked, on='id').iloc[::2].drop('time', axis=1)
backpain

       id     1     2  group  bpi_intensity  gender  is_patient
0      12  2.50  2.75    3.0           2.50     1.0           1
2      14  2.50  2.00    3.0           2.50     2.0           1
4      15  2.25  2.75    3.0           2.25     1.0           1
6      18  4.50  2.25    2.0           4.50     1.0           1
8      23  2.50  2.25    2.0           2.50     2.0           1
..    ...   ...   ...    ...            ...     ...         ...
332  9047  0.25   NaN    NaN           0.25     2.0           0
334  9049  1.25   NaN    NaN           1.25     1.0           0
336  9051  0.25   NaN    NaN           0.25     2.0           0
338  9053  1.00   NaN    NaN           1.00     2.0           0
340  9055  0.50   NaN    NaN           0.50     2.0           0

[171 rows x 7 columns]